span, a, a:hover {
    text-decoration: none;
    color: inherit;
    }
    .section-head {
    margin-bottom: 10px;
    }
    .section-head h4 {
    color:#f91942;
    line-height: 1.9;
    font-size: 44px;
    font-weight: 900;  
    margin-bottom: 0px;
    text-align: start;
    }
    .section-head h4:before {
    content: '';
    width: 80px;
    height: 4px;
    background: #f91942;
    left: auto;
    left: 1;  
    }
    .section-head h4 span {
    font-weight: 700;
    color:#2f2f2f
    }